.resources__logo_polka {
  width: 270px;
  height: 38px;
  background-image: url(../../../../Images/logo/resources-polka.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
